<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>

<div th:if="${myDBCart != null}" th:each="prod : ${myDBCart}">
    <a th:text="${prod.getGood.getGoods_description() + ' ' + prod.getGood_count()}"></a>
    <form th:method="POST" th:action="@{cart}">
        <label th:for="amount1">Изменить количество:</label>
        <input type="text" id="amount1" name="count" >
        <input type="hidden" id="good_id" name="good_id" th:value="${prod.getGood().getId()}" >
        <input type="hidden" id="user_id" name="user_id" th:value="${prod.getUser_id()}" >
        <input type="submit" value="Изменить">
    </form>
</div>

<div th:if="${myDBCart == null}" th:each="prod : ${myLocalCart}">
    <a th:text="${prod.getGood().getGoods_description() + ' ' + prod.getCount() + '|'}"></a>
    <form th:method="POST" th:action="@{cart}">
        <label th:for="amount">Изменить количество:</label>
        <input type="text" id="amount" name="count" >
        <input type="hidden" id="goodId" name="good_id" th:value="${prod.getGood().getId()}">
        <input type="hidden" id="userId" name="user_id" th:value="${-1}">
        <input type="submit" value="Изменить количество">
    </form>
</div>




</body>
</html>